* { margin:0; padding:0; box-sizing:border-box; }


body {
	font-family: 'Julius Sans One' sans-serif;
	font-size: 16px;
	background-color: #f5f5f5;
}

nav {
	margin: 0 auto;
}

.navigation {
	max-width: 1200px;
	text-align: center;
}

nav li {
	font-family: 'Julius Sans One' sans-serif;
	display: inline-block;
	margin: 0 25px 0 5px;
	font-size: 1.10em;
	color: #353655;
}

nav a {
	text-decoration: none;
	color: #222;
	font-size: 1.25em;
}

nav li a:hover {
	-moz-box-shadow: 0 .25em #5DA0AD;
	-webkit-box-shadow: 0 .25em #5DA0AD;
	box-shadow: 0 .25em #5DA0AD;

}

img.logo-script {
	margin: 0 auto;
	display: block;
}

.logo.clearfix {
	vertical-align: middle;
	padding: 0 39px 0 39px;
	margin-top: 50px;
}

.leftnav {
	float: left;
	margin: 75px 0 0 0;
}

.rightnav {
	float: right;
	margin: 75px 0 0 0;
	width: 489px;
}
/* Gradient color1 - color2 - color1 */

.bottomnav {
	border: 0;
	height: 3px;
	background-image: -webkit-linear-gradient(left, #DDBCC1, #AB5765, #DDBCC1);
	background-image: -moz-linear-gradient(left, #DDBCC1, #AB5765, #DDBCC1);
	background-image: -ms-linear-gradient(left, #DDBCC1, #AB5765, #DDBCC1);
	background-image: -o-linear-gradient(left, #DDBCC1, #AB5765, #DDBCC1);
	margin: 25px 0 0 0;
}

.published {
	color: #348899;
}

.container {
	margin:0 auto;
	max-width: 1200px;
}

.maincontent {
	float: left;
	width: 30%;
	font-family: 'Aileron' sans-serif;
	margin: 0 5px 0 5px;
}

.blogteaser {
	text-align: justify;
}

aside {
	float: left;
	width: 30%;
	margin: 0 0 0 25px;
}

.sidebarmenu {
		margin: 15px 0px 15px 44px;
}

h1, h2 {
	padding: 5px 5px 0 15px;
	color: #353655;
	line-height: 150%;
}

h1 { 
	font-size: 1.5em;
	font-family: 'Julius Sans One' sans-serif;
 }

h2 { 
	font-size: 1.25em; 
	color: #AB5765;

}

h3 {
	font-size: 1em;
	color: #c4c4c4;
	line-height: 100%;
	padding: 5px 5px 0 15px;
}

footer a {
	color: #fff;	
}

.afterbox {
	height: 3em;
	background-color: #5dadac;
	color: #fff;
	clear: both;
	margin: 0px auto;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
