* { margin:0; padding:0; box-sizing:border-box; }


body {
	font-family: 'Julius Sans One' sans-serif;
	font-size: 16px;
	background-color: #fdfdfd;
}

nav {
	margin: 0 auto;
}

.navigation {
	max-width: 100%;
	text-align: center;
	padding: 25px 0 0 0;
}

nav li {
	font-family: 'Julius Sans One' sans-serif;
	display: inline-block;
	margin: 0 1.5em 0 .3em;
	font-size: 1.10em;
	color: #353655;
}

nav a {
	text-decoration: none;
	color: #222;
	font-size: 1.25em;
}

nav li a:hover {
	-moz-box-shadow: 0 .25em #5DA0AD;
	-webkit-box-shadow: 0 .25em #5DA0AD;
	box-shadow: 0 .25em #5DA0AD;

}

img.logo-script {
	margin: 0 auto;
	display: block;
	padding: 1em 0 0 0;
}

.logo.clearfix {
	vertical-align: middle;
	padding: 0 2.5em 0 2.5em;
	}

.leftnav {
	float: left;
	margin: 4.5em 0 0 0;
}

.rightnav {
	float: right;
	margin: 4.5em 0 0 0;
}
/* Gradient color1 - color2 - color1 */

.bottomnav {
	border: 0;
	height: .3em;
	background-image: -webkit-linear-gradient(left, #ECD3CA, #e0b6a6, #ECD3CA);
	background-image: -moz-linear-gradient(left, #ECD3CA, #e0b6a6, #ECD3CA);
	background-image: -ms-linear-gradient(left, #ECD3CA, #e0b6a6, #ECD3CA);
	background-image: -o-linear-gradient(left, #ECD3CA, #e0b6a6, #ECD3CA);
	margin: .3em 0 .6em 0;
}

.container.clearfix {
	margin: 0 auto;
	max-width: 1200px;
	margin: 0 auto;
}

.maincontent {
	float:left;
	width: 60%;
	font-family: 'Open Sans' sans-serif;
	font-weight: 300;
	text-align: left;
}

.maincontent h1, h2 {
	font-weight: 400;
}

.maincontent h2 {
	font-size: 1em;
	text-transform: uppercase;
	padding: .6em 0 .6em 0;
}

footer a {
	color: #fff;	
}

aside {
	float: right;
	width: 30%;
	font-family: 'Open Sans' sans-serif;
	font-weight: 300;
	font-size: 1em;
	text-align: left;
	margin: 0 0 0 1em;
}

img.heythere {
	margin: 0 6em 0 6em;
}

.afterbox {
	height: 3em;
	background-color: #5dadac;
	color: #fff;
	clear: both;
	margin: 0 auto;
	text-align: center;
}
.blogimage { position:relative; }
.blogimage a{
	color:rgba(93,173,172,.0);
}
.blogimage img {
	width:100%;
}
.blogimage:hover a {
	color:rgba(93,173,172,1);
}
.blogimagebody {
	text-align: center;
	padding: 1em 0 1em 0;
}

.blogimagecaption {
	font-size: .75em;
	font-style: italic;
}
.smallbox {
	position:absolute;
	top:50%;
}
@media(-width:480px) {
	nav {
		width: 100%;
	}

	li {
    width: 95%;
    outline-width: .5em;
    height: 2em;
    line-height: 1.5em;
    padding: .5em;
  }
 }




