* { margin:0; padding:0; box-sizing:border-box; }


body {
	font-family: 'Julius Sans One' sans-serif;
	font-size: 16px;
	background-color: #fdfdfd;
}

nav {
	margin: 0 auto;
}

.navigation {
	max-width: 1200px;
	text-align: center;
	padding: 25px 0 0 0;
}

nav li {
	font-family: 'Julius Sans One' sans-serif;
	display: inline-block;
	margin: 0 25px 0 5px;
	font-size: 1.10em;
	color: #353655;
}

nav a {
	text-decoration: none;
	color: #222;
	font-size: 1.25em;
}

nav li a:hover {
	-moz-box-shadow: 0 .25em #5DA0AD;
	-webkit-box-shadow: 0 .25em #5DA0AD;
	box-shadow: 0 .25em #5DA0AD;

}

img.logo-script {
	margin: 0 auto;
	display: block;
	padding: 15px 0 0 0;
}

.logo.clearfix {
	vertical-align: middle;
	padding: 0 39px 0 39px;
	}

.leftnav {
	float: left;
	margin: 75px 0 0 0;
}

.rightnav {
	float: right;
	margin: 75px 0 0 0;
	width: 489px;
}
/* Gradient color1 - color2 - color1 */

.bottomnav {
	border: 0;
	height: 3px;
	background-image: -webkit-linear-gradient(left, #ECD3CA, #e0b6a6, #ECD3CA);
	background-image: -moz-linear-gradient(left, #ECD3CA, #e0b6a6, #ECD3CA);
	background-image: -ms-linear-gradient(left, #ECD3CA, #e0b6a6, #ECD3CA);
	background-image: -o-linear-gradient(left, #ECD3CA, #e0b6a6, #ECD3CA);
	margin: 5px 0 10px 0;
}

.container {
	margin: 0 auto;
	max-width: 790px;
	text-align: center;
}

.maincontent {
	width: 100%;
	font-family: 'Open Sans' sans-serif;
	margin: 0 auto;
	font-weight: 300;
}

footer a {
	color: #fff;	
}

.afterbox {
	height: 3em;
	background-color: #5dadac;
	color: #fff;
	clear: both;
	margin: 0px auto;
	text-align: center;
}


