* { margin:0; padding:0; box-sizing:border-box; }

body { 
	background: url(../images/background.jpg) no-repeat #525a6a;
	background-size: cover;
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size:20px;
}

section {
		margin: 200px 0 0 150px;
		width: 50%;
}

hr {
	border-color: #b48484;
	width: 5%;
}
