* { margin:0; padding:0; box-sizing:border-box; }

body { 
	background: url(../images/background.jpg);
	background-size: cover;
}

section {
		margin: 200px 0 0 150px;
		width: 50%;
		line-height: 75px;
			
	}

h1 {
	font-weight: normal;
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	padding:0 0 0 55px ;
}


a {padding-left: 50px;
	padding-top: 200px;
}

hr {
	border-color: #b48484;
	width: 5%;
	margin-left: 50px;
}

div {
	background: url(../images/stripes.png);
		)
	