* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: url(../images/restaurantpic.jpg) no repeat;
	background-size: cover;
}

section {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 3em;
}